<ion-pane>
  <ion-header-bar class="bar-stable">
    <button class="button icon-left ion-home" ui-sref="countriesListCtrl">Accueil</button>
    <h1 class="title">DES VÉLO CHAUD DANS TA RÉGION</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ui-sref="GeoCtrl">
        Géolocalisation
      </ion-item>
      <ion-item ng-repeat="contract in contracts" ui-sref="contractDetail({ id:contract.id })">
          {{ contract.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
