<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">DES VÉLO CHAUD DANS TA RÉGION</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ui-sref="GeoCtrl">
        Géolocalisation
      </ion-item>
      <ion-item ng-repeat="country in countries" ui-sref="countryDetail({ iso2:country.iso2 })">
          {{ country.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
