<ion-pane>
  <ion-header-bar class="bar-stable">
    <button class="button icon-left ion-home" ui-sref="countriesListCtrl">Accueil</button>
    <h1 class="title">VÉLO CHAUD DANS TA RÉGION</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page class="box blue">
        <!-- CARTE -->
        <h2>Carte de toutes les stations</h2>
        <div class="bigmap-container" data-tap-disabled="true">
          <ng-map class="bigmap" zoom="13" center="[{{stations[0].latitude}}, {{stations[0].longitude}}]" zoom-control="true" scale-control="false" map-type-control="false" street-view-control="false" map-initialized="init(map)">
            <marker ng-repeat="station in stations" position="{{station.latitude}}, {{station.longitude}}" title="{{station.name}}"></marker>
          </ng-map>
        </div>
        <!-- FIN CARTE -->
      </ion-slide-page>
      <ion-slide-page class="box" ng-repeat="station in stations" >
          <h2>{{ station.name }}</h2>
          <p>
            La station est actuellement :
            {{station.open ? 'Ouverte' : 'Fermé'}}
          </p>
          <p>
            Nombres de places disponnibles :
            {{ station.availableFreeSpots }}
          </p>
          <p>
            Nombres de vélos disponnibles :
            {{ station.availableBikes }}
          </p>
          <p>
            La station {{station.banking ? 'dispose d\'une borne de paiement' : 'ne dispose pas d\'une borne de paiement'}}
          </p>

          <br />
          <p>Faire coulisser pour voir les autres stations</p>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-pane>
